{% extends 'base.html' %}
{% block title %}
PizzaForAll
{% endblock %}
{% block body %}

<div class="container">
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
  <div class="col-lg-6 px-0">
    <h1 class="display-4 fst-italic">Доставляем пиццу на дом в течение 30 минут - 1 часа после оформления заказа. Постоянные скидки и акции!</h1>
  </div>
  </div>
</div>
{% for item in InfoPizzas %}
<div class="container marketing">
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">{{ item.Name }}<span class="text-body-secondary"></span></h2>
      <p class="lead"><b>Состав: </b>{{ item.Ingridients }}</p>
      <p class="lead"><b>Стоимость: </b>{{ item.Price }}</p>
      <p class="lead"><b>Вес: </b>{{ item.Size }}</p>
    <form method="post">
      {% csrf_token %}
      Количество пицц для заказа: <input type="number" name="countpizzas" min=0 value="0">
      <input type="hidden" name="idorder" value="{{ item.Id }}">
      <input type="hidden" name="nameorder" value="{{ item.Name }}">
      <input type="hidden" name="priceorder" value="{{ item.Price }}">
      <input type="submit" name="click" id ="click" value="В корзину">
      {% if AddOrder.id == item.Id %}
      <p class="lead"><b></b>{{ AddOrder.text }}</p>
      {% endif %}
    </form>
    </div>
    <div class="col-md-5">
      <img src={{ item.Images }} height="150" alt="Card image cap">
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}